.app-control {
  background-color: aqua;
  color: brown;
  height: 200px;
  animation: red 0.7s linear forwards;
}

.toggle {
  height: 50px;
  color: white;
  animation: green 0.7s linear forwards;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.ani{
    animation: borderRadius 5s linear 2s;
}

@keyframes borderRadius {
    from {border-radius: 0;}
    to {border-radius: 50%;}
  }