<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
template variable
<button (click)="toggle.toggle()">Tôgle</button>
<app-toggle #toggle></app-toggle>

<br>Viewchild
<button (click)="toggleInside()">Toggle inside class</button>
<app-toggle #Toggle></app-toggle>

<form #nameForm = "ngForm" (ngSubmit)="onSubmit()">
  <input 
  type="text"
  class="form-control"
  [(ngModel)]="model.name"
  name="name"
  #name="ngModel"/>
  <input type="text" id="age"/>
  <button>Submit</button>
  <button (click)="clickc()">Submit</button>
</form>
