<!--The content below is only a placeholder and can be replaced.-->
<h2>Day 05- class and style binding</h2>


<button (click)="isDisable = !isDisable">disable</button>
<button (click)="isWarning = !isWarning">Warning</button>

<div class="box" [class.red-border]="isWarning" [class.isDisable]="isDisable">hhhh</div>
<br>
<!-- <div class="box" [ngClass]="['red-border','isDisable']"></div>
<div class="box" [ngClass]="{'red-border': isWarning, 'isDisable': isDisable}"></div> -->

<!-- <div class="box" [class]="{'red-borded': isWarning, 'isDisable'; isDisable}"></div> -->
<!-- 
[class.ten-class]
[class]=array
[class]=object  {[tenclass:string]:boolean}
[class]=variable
có thể dùng [ngClass] nè
-->


<div class="box" [style.width.px]="20"></div>

<!-- <div [ngStyle]="{backgroundColor: 'green', width: '250px', height: '100px'}"></div> -->
<p class="box" [style.--text-colors]="isDisable ? 'red': 'blue'" [ngStyle]="{color: 'var(--text-colors)', backgroundColor: 'blue', fontSize: '20px' }">hello</p>
<!-- 
[style.tenStyle]
[style.ten-style] 
[style.var] 
thấy [style] gắn khum ăn nha phải dùng [ngStyle]
-->