* {
  box-sizing: border-box;
}
div {
  display: flex;
  width: 200px;
}
input[type="checkbox"] {
    visibility: hidden;
}
input[type="checkbox"] + label::before {
    transition: transform 0.75s ease;
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #000;
    border-radius: 50%;
    top: 5px;
    left: 5px;
  }

input[type="checkbox"]:checked + label{
    background-color: red;
}
input[type="checkbox"]:checked + label::before{
    background-color: white;
    transform: translateX(88px);
}


input[type="checkbox"] + label {
  display: flex;
  width: 180px;
  height: 90px;
  border: 2px solid;
  border-radius: 99em;
  position: relative;
  transition: transform 0.75s ease-in-out;
  transform-origin: 50% 50%;
  cursor: pointer;
}

